/*#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}*/

/* cytoscape graph */
#cy {
    height: 500px;  
    width: 600px;  
    position: relative;
    top: 55px;
    background-color: #f9f9f9;
}